# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
.gradle/
android/.gradle/
android/local.properties
android/**/local.properties
android/app/.cxx/

# Android Studio / IntelliJ
.idea/
*.iml

# macOS
.DS_Store
